body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.pai {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.paragrafo {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
}

.container {
    width: 20%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 15px gray;
    border-radius: 20px;
    border: 2px solid green;
}

.alinhar {
    border: 2px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    margin-top: -12%;
    width: 35%;
    border: 2px solid yellow;
}

.alinhar input[type="button"] {
    display: flex;
    text-align: center;
    flex-direction: row;
    width: 100%;
    outline: none;
    background-color: green;
    color: white;
    font-weight: 699;
    border-radius: 15px;
    border: 2px solid transparent;
    transition: all .2s ease;
}
.alinhar input[type="button"]:hover{
    border: 2px solid gray;
    box-shadow: 0 0 15px grey;
}

.container label {
    display: flex;
    font-size: 25px;
    text-align: center;
}

.container input {
    flex-wrap: nowrap;
    flex-direction: row;
    text-align: center;
    align-items: center;
    /*rever*/
    display: inline-flexbox;
    width: 6%;
    height: auto;
    outline: none;
    border: 2px solid blue;
}


/* #btn{
    display: inline-flex;
    flex-direction: row;
    width: 30%;
    font-size: 10px;
} */